.board {
    height: 100vh;
    width: 100%;
    background-color: thistle;
    position: relative;
    overflow: hidden;
}

.text_editor {
    height: 400px;
    width: 50%;
    width: 100%;
    font-size: larger;
    padding: 1em;
}